.App {
  background-color: #282c34;
  height: 97vh;
  width: 97vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-content: stretch;
  gap: 10px;
  padding: 10px;
}

.div-clima {
  display: flex;
  flex-direction: row;
  align-content: stretch;
  justify-content: center;
  border-radius: 20px;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 10px;
}

.div-transporte {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: green;
  border-radius: 20px;
  flex-grow: 0.5;
}

.div-temperatura {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  border-radius: 20px;
  gap: 10px;
  flex-grow: 0.5;
}

.div-datos-clima {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  border-radius: 20px;
  gap: 10px;
  flex-grow: 1;
}

.div-temp-actual {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: yellowgreen;
  border-radius: 20px;
  flex-grow: 1;
}

.div-fecha-hora {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: brown;
  border-radius: 20px;
  flex-grow: 0.5;
}

.div-max-min {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: grey;
  border-radius: 20px;
  flex-grow: 1;
}

.div-temp-x-hora {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: goldenrod;
  border-radius: 20px;
  flex-grow: 0.5;
}

.div-otros-datos {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: orange;
  border-radius: 20px;
  flex-grow: 1;
}